{% extends 'base.twig' %}

{% block main %}
    <div class="content-container">
        <h2>404 - Not found</h2>
        <span>
            The page you are looking for does not exist.
        </span>
    </div>
{% endblock %}