<div class="header">
    <div class="logo" onclick="redirect('/');">
        <h3>Ridge</h3>
    </div>
    <div class="search">
        <input type="text" placeholder="search">
        <button>search</button>
        {#
         The search is a joke.    
        #}
    </div>
</div>
{% include 'noscript.twig' %}
{% if info-header %}
    <div class="info-header">
        {{ info-header }}
    </div>
{% endif %}
