{% extends 'base.twig' %}

{% block main %}
    <div class="content-container">
        <h2 style="color: red;">you are ip banned lol</h2>
        <span>
            congrats! you are ip banned         
        </span>
        <h4>what the hell do i do now</h4>
        <ul style="list-style: none;">
            <li><span>go outside</span></li>
            <li><span>go to whine in the discord</span></li>
            <li><span>reflect on your wrong doings</span></li>
        </ul>
    </div>
{% endblock %}