<title>ridge</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="another video sharing site..">
<meta name="keywords" content="ridge, video, sharing, site, another, video, sharing, site">
<meta name="author" content="ridge">
<meta name="title" content="ridge">
<link rel="stylesheet" href="dist/main.css">
<script src="lib/js/jquery.js"></script>
<script src="lib/js/purify.js"></script>
<script src="lib/js/main.js"></script>